<h2 class="section-title">{{ .titles.location }}</h2>


<p> The WYRMP will take place from 5-7 July 2023 at the <a href="https://www.ihk-akademie-muenchen.de/akademie-standorte/westerham/">IHK Akademie Westerham</a>. 
arrival in Westerham is on July 5th at around 12.00 pm, lunch at ....
The conference starts on July 5th and ends on July 7th at lunch time.<br><br>
 The address is: <a href= "https://goo.gl/maps/8opbvJrkuxVXdGxy8">Von-Andrian-Str. 5, 83620 Feldkirchen-Westerham</a>.

 More info on the venue are available <a href="https://www.ihk-akademie-muenchen.de/akademie-standorte/westerham-hotel/IHK_Akademie_Westerham_Wegbeschreibung_2022.pdf">here</a>.
        
</b> <br>
</b> <br><a href="https://www.bahn.com/en">Link</a> to the train tickets.

    </p>

<br> 



    <iframe class="directions" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Von-Andrian-Stra%C3%9Fe%205,%2083620%20Feldkirchen-Westerham+(akademie)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>


