<h2 class="section-title">{{ .titles.speakers }}</h2>

<br>
  <li class="speakers-name"> Giulia Basti (GSSI) 
  </li>
  <br>
  <li class="speakers-name"> Lea Bo&szligmann (LMU Munich)
  </li>
   <br>
   <li class="speakers-name">Morris Brooks (IST Austria)</li>
   <br>
    <li class="speakers-name">Martin Ravn Christiansen (LMU Munich) </li>
   <br>
   <li class="speakers-name">Charlotte Dietze (LMU Munich)</li>
   <br>
   <li class="speakers-name">Marie Fialova (IST Austria) </li>
   <br>
   <li class="speakers-name">Julian Fischer (IST Austria) </li>
   <br>
   <li class="speakers-name">Luca Fresta (Bonn University) </li>
   <br>
   <li class="speakers-name">Torben Kr&uumlger (FAU Erlangen-Nürnberg) </li>
   <br>
  <li class="speakers-name">Asbj&oslashrn B&aeligkgaard Lauritsen (IST Austria)</li>
   <br> 
    <li class="speakers-name">Jinyeop Lee (LMU Munich) </li>
   <br> 
    <li class="speakers-name">Toan Nguyen (Pennsylvania State University)</li>
   <br>
    <li class="speakers-name">Ngoc-Nhi Nguyen (University of Milan) </li>
   <br>    
    <li class="speakers-name">Marcello Porta (SISSA Trieste) </li>
   <br>
    <li class="speakers-name">Robin Reuvers (Roma Tre University) </li>
   <br>
    <li class="speakers-name">Dang Nguyen Viet (Sorbonne University) </li>
   <br>


    